com.zerogamestudio.zeroengine.config-pipeline/Editor/ThirdParty/OpenXml/Licenses/System.IO.Packaging.LICENSE.txt -text
com.zerogamestudio.zeroengine.config-pipeline/Editor/ThirdParty/OpenXml/Licenses/System.IO.Packaging.THIRD-PARTY-NOTICES.txt -text
